@using Microsoft.AspNetCore.Blazor.Services
@using POIN.Client.Services
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager



<button class="btn btn-primary" type="button" @onclick="TakeScan"><span class="oi oi-pencil"></span> Take scan</button>

<div @ref="loadingMessageElement">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>

<div class="row">
    <div class="col-md-10 col-sm-10">

        <canvas @ref="canvasElement" width="300" height="300"></canvas>
    </div>
</div>

<video hidden @ref="videoElement"></video>

<input type="text" bind="@resultScan" />
<br />




@code {

    private ElementReference canvasElement;
    private ElementReference videoElement;
    private ElementReference outputElement;
    private ElementReference loadingMessageElement;

    private string resultScan { get; set; } = string.Empty;

    private async Task TakeScan()
    {

        resultScan = await JSRuntime.InvokeAsync<string>("runQrScanner", canvasElement, videoElement, outputElement, loadingMessageElement, DotNetObjectReference.Create(this));
    }


    [JSInvokable("HaveScanResult")]
    public void HaveScanResult(string data)
    {

        resultScan = data;

        NavigationManager.NavigateTo("/participants/" + data);

    }


}

